<!DOCTYPE html>
<html>
<title>Student-Led Clubs & Organizations at UCSC</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{=URL('static', 'css/w3.css')}}"/>
<link rel="stylesheet" href="{{=URL('static', 'css/w3-theme-teal.css')}}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"><style>
.w3-sidenav a {padding:16px;font-weight:bold}
</style>
<body>

<nav class="w3-sidenav w3-collapse w3-white w3-animate-left w3-card-2" style="z-index:3;width:250px;" id="mySidenav">
  <a href="https://www.ucsc.edu" class="w3-border-bottom w3-large"><img src="https://2015.igem.org/wiki/images/6/62/Ucsc.png" style="width:80%;"></a>
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-text-teal w3-hide-large w3-closenav w3-large">Close <i class="fa fa-remove"></i></a>
  <a href="{{=URL('default', 'index')}}" class="w3-light-grey w3-medium">Home</a>
    <div class="w3-accordion">
    <a onclick="myAccordion('demo')" href="javascript:void(0)" class="w3-hover-text-cyan">See Also <i class="fa fa-caret-down"></i></a>
    <div id="demo" class="w3-accordion-content w3-animate-left w3-padding">
      <a href="http://soar.ucsc.edu/v2/" class="w3-hover-text-cyan">Student Organization Advising & Resources</a>
      <a href="http://admissions.ucsc.edu/campus-life/index.html" class="w3-hover-text-cyan">Campus Life</a>
      <a href="http://admissions.sa.ucsc.edu/studentprofile/" class="w3-hover-text-cyan">Our Student Profiles</a>
    </div>
  <a href="#acad" class="w3-hover-text-cyan">Academic</a>
  <a href="#culture" class="w3-hover-text-cyan">Cultural & Identity</a>
  <a href="#envir" class="w3-hover-text-cyan">Environmental & Sustainability</a>
  <a href="#general" class="w3-hover-text-cyan">General Interest</a>
  <a href="#greek" class="w3-hover-text-cyan">Greek Letter Organizations</a>
  <a href="#perf" class="w3-hover-text-cyan">Performing & Visual Arts</a>
  <a href="#polit" class="w3-hover-text-cyan">Political & Advocacy</a>
  <a href="#prof" class="w3-hover-text-cyan">Professional</a>
  <a href="#relig" class="w3-hover-text-cyan">Religious & Spiritual</a>
  <a href="#serv" class="w3-hover-text-cyan">Service</a>
  <a href="#media" class="w3-hover-text-cyan">Student Media</a>

  </div>
  <a href="#">Top</a>
</nav>

<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div class="w3-main" style="margin-left:250px;">

<div id="myTop" class="w3-top w3-container w3-padding-16 w3-theme w3-large">
  <i class="fa fa-bars w3-opennav w3-hide-large w3-xlarge w3-margin-left w3-margin-right" onclick="w3_open()"></i>
  <span id="myIntro" class="w3-hide">Student-Led Clubs & Organizations</span>
</div>

<header class="w3-container w3-theme w3-padding-64" style="padding-left:32px; text-align: center">
  <h1 class="w3-xxxlarge w3-padding-16">Student-Led Clubs & Organizations</h1>
</header>

<div class="w3-container w3-padding-32" style="padding-left:32px">

<h2>What are Student-Led Clubs and Organizations?</h2>

<p>UC Santa Cruz has over 150 registered student organizations and associations based on academic, athletic, ethnic, religious, political, and cultural interests.</p>
    <img src="https://people.ucsc.edu/~scho29/responsive.jpg" style="width:98%;margin:20px 0" alt="UCSC slco"><br>

<hr>
<h2>Student-Led Clubs and Organizations are always here for you.</h2>
    <a name="acad"></a>
<p>Students affiliated with UC Santa Cruz are welcome to participate in any Student-Led Clubs and Organizations.</p>


<hr>
<h2>Academic</h2>
<ul>
    <li>Aspiring Physician Assistant Association</li>
    <li>Association for Computing Machinery</li>
    <li>Chemistry Club</li>
    <li>Chicanxs and Latinxs Educandose (ChALE)</li>
    <li>Chinese Students & Scholars Association</li>
    <li>Cognitive Science Student Association</li>
    <li>Communicating Oceanography Research Effectively (CORE)</li>
    <li>Community Unified Student Network (CUSN)</li>
    <li>Engineers for Change</li>
    <li>eWomen at UC Santa Cruz</li>
    <li>Golden Key International Honor Society</li>
    <li>Hermanos Unidos de UCSC (HU)</li>
    <li>Institute of Electrical and Electronics Engineers (IEEE)</li>
    <li>Information Systems Management Association (ISMA)</li>
    <li>Kuya Ate Mentorship Program (KAMP)</li>
    <li>Mock Trial at UCSC</li>
    <li>Model United Nations Club (SlugMUN)</li>
    <li>National Society of Black Engineers (NSBE)</li>
    <li>National Society of Collegiate Scholars (NSCS)</li>
    <li>Slugs United by Mathematics (SUM)</li>
    <li>Society for the Advancement of Chicanos and Native Americans in Science (SACNAS)</li>
    <li>Society of Asian Scientists and Engineers (SASE)</li>
    <li>Society of Women Engineers (SWESLUGS)</li>
    <li>Tau Beta Pi Engineering Honors Society</li><a name="culture"></a>
    <li>Umoja</li>
</ul>
<hr>

<h2>Cultural & Identity</h2>
<ul>
    <li>A Step Forward (ASF)</li>
    <li>African American Theater Arts Troupe (AATAT)</li>
    <li>African/Black Student Alliance (A/BSA)</li>
    <li>African Student Union (ASU)</li>
    <li>Armenian Student Association (ASA)</li>
    <li>Asian/Pacific Islander Student Alliance (APISA)</li>
    <li>Black Men's Alliance (BMA)</li>
    <li>Black Sistahs United (BSU)</li>
    <li>Centro Americanos Unidos (CAU)</li>
    <li>Chinese Student Association (CSA)</li>
    <li>Chinese Students & Scholars Association (CSSA)</li>
    <li>Empowering Latino Advancement Through Education and Development (ELATED)</li>
    <li>Engaging Education (e^2)</li>
    <li>Filipino Student Association (FSA)</li>
    <li>Grupo Folklorico Los Mejicas</li>
    <li>Han Chinese Clothing Association</li>
    <li>Hermanas Unidas (HaU)</li>
    <li>Hmong Student Association (HSA)</li>
    <li>Indian Student Association (ISA)</li>
    <li>International Student Organization (ISO)</li>
    <li>Japanese Student Association (JSA)</li>
    <li>Jewish Student Union (JSU)</li>
    <li>Korean American Student Association (KASA)</li>
    <li>Liberation</li>
    <li>Mixed Ethnicities Student Headquarters (MESH)</li>
    <li>Movimiento Estudiantil Chicano/a de Aztlan (MEChA)</li>
    <li>Multi-Cultural Festival Planning Committee</li>
    <li>People of the Islands (POI)</li>
    <li>Prism: Student Coalition for Gender, Sex & Sexuality</li>
    <li>Queer Student Union (QSU)</li>
    <li>Salsita Dance Group</li>
    <li>Santa Cruz Student Kink Association</li>
    <li>Sikh Student Association</li>
    <li>Student Alliance of North American Indians (SANAI)</li>
    <li>Taiwanese Student Association (TSA)</li><a name="envir"></a>
    <li>Vietnamese Student Association (VSA)</li>
</ul>

<hr>
<h2>Environmental & Sustainability</h2>
<ul>
    <li>Community Aid and Resources Project</li>
    <li>Education for Sustainable Living Program (ESLP)</li>
    <li>Gente de la Tierra (GDLT)</li>
    <li>Organic Business Club</li>
    <li>Sea Slugs</li><a name="general"></a>
    <li>Student Environmental Center (SEC)</li>
</ul>

<hr>
<h2>General Interest</h2>
<ul>
    <li>Active Minds</li>
    <li>Anthropology Society</li>
    <li>Brain, Mind, & Consciousness Society (BMC)</li>
    <li>Cosplay Club</li>
    <li>CreateU at UCSC</li>
    <li>Health & Nutrition Club (H&N)</li>
    <li>League of Slugs (LOS)</li>
    <li>Medieval Club of UCSC</li>
    <li>Metal Slugs</li>
    <li>Pre-SOMA (Students of Osteopathic Medical Association)</li>
    <li>Santa Cruz Fighting Game Community</li>
    <li>Slug Anime & Manga Association (SAMA)</li>
    <li>Slug Gaming</li><a name="greek"></a>
    <li>SlugLug Linux Users' Group</li>
</ul>

<hr>
<h2>Greek Letter Organizations</h2>
<ul>
    <li>Alpha Epsilon Pi</li>
    <li>Alpha Kappa Delta Pi</li>
    <li>Alpha Phi Omega</li>
    <li>Alpha Psi Sorority</li>
    <li>College Panhellenic</li>
    <li>Delta Sigma Pi</li>
    <li>Gamma Phi Beta</li>
    <li>Inter-Greek Council</li>
    <li>Kappa Alpha Theta</li>
    <li>Kappa Gamma Delta</li>
    <li>Kappa Kappa Gamma</li>
    <li>Kappa Zeta</li>
    <li>Lambda Phi Epsilon</li>
    <li>Lambda Theta Alpha Latin Sorority, Incorporated</li>
    <li>Phi Alpha Delta Pre-Law Fraternity</li>
    <li>Pi Alpha Phi</li>
    <li>Sigma Alpha Epsilon Pi</li>
    <li>Sigma Lambda Beta International Fraternity, Inc.</li>
    <li>Sigma Lambda Gamma National Sorority, Inc.</li>
    <li>Sigma Mu Delta</li>
    <li>Sigma Omicron Pi</li>
    <li>Sigma Phi Zeta</li>
    <li>Sigma Pi Alpha Sorority</li>
    <li>Sigma Pi Fraternity International</li>
    <li>Tau Kappa Epsilon</li>
    <li>Theta Chi</li>
    <li>Theta Pi Sigma</li><a name="perf"></a>
    <li>Zeta Phi Beta Sorority, Inc.</li>
</ul>

<hr>
<h2>Performing & Visual Arts</h2>
<ul>
    <li>Acquire A Cappella</li>
    <li>African American Theater Arts Troupe</li>
    <li>Ambience at UCSC</li>
    <li>Cloud 9 A Cappella</li>
    <li>Comedy Joust (CJ)</li>
    <li>Cultural Arts & Diversity (CAD)</li>
    <li>Game Design & Art Collaborations (GDA)</li>
    <li>Haluan</li>
    <li>The Hightones</li>
    <li>Interval</li>
    <li>Isang Himig Multi-Cultural A Cappella</li>
    <li>Kadence Keys</li>
    <li>Kasama Ballroom Dance Troupe</li>
    <li>Kinetic Poetics Project (KPP)</li>
    <li>Pagkakaisa Dance Troupe (PDT)</li>
    <li>People Power Improv and Acting Troupe</li>
    <li>Popreka</li>
    <li>Rainbow Theater</li>
    <li>Sabrosura Latin Dance Troupe</li>
    <li>Slugs in Fishnets</li>
    <li>Slugz II Men</li>
    <li>Slugworks Animation</li>
    <li>Taza Tal</li><a name="polit"></a>
    <li>Vagina Organization</li>
</ul>

<hr>
<h2>Political & Advocacy</h2>
<ul>
    <li>Banana Slugs for Animals</li>
    <li>California Public Interest Research Group (CALPIRG)</li>
    <li>College Democrats at UCSC</li>
    <li>College Republicans</li>
    <li>Committee in Solidarity with the People of El Salvador (CISPES)</li>
    <li>Free the Slaves</li>
    <li>J Street U at UCSC</li>
    <li>Oportunidades Rumbo A La Educacion (ORALE)</li>
    <li>Platypus Affiliated Society (PAS)</li>
    <li>Slugs for Israel</li>
    <li>Students for a Democratic Society at UCSC</li>
    <li>Students for Justice In Palestine (SJP)</li><a name="prof"></a>
    <li>Students for Sensible Drug Policy at UCSC (SSDP)</li>
</ul>

<hr>
<h2>Professional</h2>
<ul>
    <li>American Fisheries Society at UCSC (AFS)</li>
    <li>American Medical Student Association (AMSA)</li>
    <li>American Red Cross Association at UCSC</li>
    <li>Association of Latino Professionals for America (ALPFA)</li>
    <li>Emergency Medical Slugs (EMS)</li>
    <li>Gesher Group</li>
    <li>iSee Pre-Optometry Club</li>
    <li>Legal Education Association for Diversity (LEAD)</li>
    <li>Microcontrollers and Application Processors (MAAP)</li>
    <li>Morning Sign Out (MSO)</li>
    <li>Pre-Dental Society (PDS)</li>
    <li>Pre-Law Society at UCSC</li>
    <li>Pre-Pharmacy Student Association</li>
    <li>Pre-Veterinary Club at UCSC</li>
    <li>Scholars of Accounting Society (SAS)</li>
    <li>Society of Hispanic Professional Engineers (SHPE)</li>
    <li>Sports Medicine Club (SMC)</li>
    <li>Stocks Club at UCSC</li>
    <li>Students for Professional Development (SPD)</li>
    <li>Translate</li>
    <li>University Economics Association (UEA)</li><a name="relig"></a>
    <li>Volunteers Around the World: Medical Outreach Program at UCSC</li>
</ul>

<hr>
<h2>Religious & Spiritual</h2>
<ul>
    <li>Acts 2 Christian Fellowship (A2CF)</li>
    <li>Faith, Education, Action, Service Together (FEAST)</li>
    <li>Hindu Student Association (HSA)</li>
    <li>Klesis Christian Fellowship</li>
    <li>Muslim Student Association (MSA)</li>
    <li>Young Life</li><a name="serv"></a>
</ul>
    <p>see: www.ucscuic.org/member-groups</p>


<hr>
<h2>Service</h2>
<ul>
    <li>The Balloon Art Brigade</li>
    <li>Circle K International</li>
    <li>Colleges Against Cancer (CAC)</li>
    <li>Community Aid & Resources Project (CARe)</li>
    <li>Global Citizens United (GCU)</li>
    <li>The Listening Post (TLP)</li>
    <li>Nourish International at UCSC</li>
    <li>Oxfam America at UCSC</li>
    <li>Rotaract Club of Santa Cruz County</li>
    <li>Students for Haiti Solidarity at UCSC</li><a name="media"></a>
    <li>Volunteers for Intercultural and Definitive Adventures (VIDA)</li>
 </ul>

<hr>
<h2>Student Media</h2>
<ul>
    <li>Alay</li>
    <li>Banana Slug News</li>
    <li>Chinquapin Thirty-Four</li>
    <li>City on a Hill Press</li>
    <li>Eyecandy</li>
    <li>Film Production Coalition</li>
    <li>Fishrap</li>
    <li>Gaia</li>
    <li>Leviathan Jewish Journal</li>
    <li>Matchbox Magazine</li>
    <li>On the Spot</li>
    <li>Rainbow TV</li>
    <li>Red Wheelbarrow</li>
    <li>Scientific Slug</li>
    <li>SCTV</li>
    <li>TWANAS (Third World and Native American Students Press Collective)</li>
</ul>

<hr>
<h2>Easy to Use</h2>
<div class="w3-container w3-sand w3-leftbar">
<p><i>Simply Awesome:</i><br>
Seongwoo Choi and Erik Andersen</p>
</div>

<h2>Just in case</h2>

<p>We have uploaded the actual UCSC website for you to explore. </p>
<p>You are free to visit, share, find out more information and do whatever you want:</p>

<div class="w3-container w3-padding-16 w3-card-2" style="background-color:#eee">
<h3 class="w3-center">Actual UCSC Website</h3>
<div class="w3-content" style="max-width:800px">
<img src="https://s-media-cache-ak0.pinimg.com/originals/0f/9c/0c/0f9c0c996b3e2ad65a8a2b39e7fd3a5e.jpg" style="width:98%;margin:20px 0" alt="UCSC Website link"><br>
<div class="w3-row">
  <div class="w3-col m6">
    <a href="https://admissions.ucsc.edu/why-ucsc/organizations.html" target="_blank" class="w3-btn w3-padding-12 w3-dark-grey" style="width:98.5%">Visit Now</a>
  </div>
  <div class="w3-col m6">
    <a href="https://admissions.ucsc.edu/why-ucsc/index.html" class="w3-btn w3-padding-12 w3-dark-grey" style="width:98.5%">Why UCSC? &raquo;</a>
  </div>
</div>
</div>
</div>
<br>



</div>

<footer class="w3-container w3-theme w3-padding-32" style="padding-left:32px; text-align: center">
  <p>Made by <a href="http://people.ucsc.edu/~scho29" target="_blank">Seongwoo Choi</a> and
     <a href="http://people.ucsc.edu/~eraander">Erik Andersen</a></p>
    <p><a href="{{=URL('default', 'aboutus')}}" target="_blank">About Us</a></p>
</footer>

</div>

</div>



<script>
// Open and close the sidenav on medium and small screens
function w3_open() {
    document.getElementById("mySidenav").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Change style of top container on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        document.getElementById("myTop").classList.add("w3-card-4");
        document.getElementById("myIntro").classList.add("w3-show-inline-block");
    } else {
        document.getElementById("myIntro").classList.remove("w3-show-inline-block");
        document.getElementById("myTop").classList.remove("w3-card-4");
    }
}

// See Also
function myAccordion(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme";
    } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme", "");
    }
}
</script>

</body>
</html>