{{extend 'layout.html'}}

<style>
img {
    opacity: 0.6;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    object-fit: fill;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 10px;
    }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

</style>


<div class="main_content">
    <center class="yellow">
        <center>
           <div class="site_name"></div>
        </center>
        <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="index.html">Home</a>
  <a href="http://my.ucsc.edu">myUCSC</a>
    <a href="#">Moments & Trends</a>
    <a href="#">Friends</a>
    <a href="http://admissions.ucsc.edu/why-ucsc/organizations.html">Circles & Clubs</a>
  <a href="aboutus.html">About Us</a>
</div>
        <center>
            <font color="#6495ed"><div class="site_subname half">Find what are available at UCSC!</div></font>
        </center>
    </div>
        <div class="sub_content">

            <center>
                <img src="https://i.ytimg.com/vi/2nfYTyUnfM0/maxresdefault.jpg" alt="UCSantaCruz" style="width:fill;height:fill;">
            </center>

        </div>


