{{extend 'layout.html'}}

<div id="vue">
  <div class="container max900">
    <div class="fill">
      <div class="padded">
          <span style="font-size:30px;align-content: left; cursor:pointer" onclick="openNav()">&#9776; menu</span>
              <!-- Google Custom Search --><!-- end GCS --><div>
<form action="http://www.ucsc.edu/search" id="cse-search-box"><input name="cx" type="hidden" value="012090462228956765947:d0ywvq7bxee"/>
    <input name="cof" type="hidden" value="FORID:9"/> <input name="ie" type="hidden" value="UTF-8"/>
    <h3><label class="hide" for="q">Search on UC Santa Cruz</label></h3>
    <input class="query" id="q" name="q" type="text" placeholder="You can find your favorite classes and circles from UCSC here"/>
    <input class="srchBtn" type="submit" value="Search"/></form>

      </div>
      </div>      
    </div>
    <div class="fill">
      <div class="padded" v-for="doc in docs">
        <div class="lifted padded">
          <h5>${doc.title}</h5>
          <p>${doc.body}</p>
        </div>
      </div>
        <style>
            .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="index.html">Home</a>
  <a href="http://my.ucsc.edu">myUCSC</a>
    <a href="#">Moments & Trends</a>
    <a href="#">Friends</a>
    <a href="http://admissions.ucsc.edu/why-ucsc/organizations.html">Circles & Clubs</a>
  <a href="main.html">About Us</a>
</div>

<div>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "25%";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
    </div>
</div>
  </div>
    <body>
    <div class="photo">
        <img src="http://people.ucsc.edu/~scho29/public_html/ucsc.png" alt="UCSantaCruz" style="width:100%;height:100%;">
    </div>
    </body>

{{block bottomjs}}
<script>{{=ASSIGNJS(BASE='/'+request.application+'/')}}</script>
<script src="{{=URL('static','js/main-vue.js')}}"><script>
{{end}}
